- attributes("title") = "Your Plan"
- attributes("headline") = "Your Plan"
- attributes("page") = "plan"
-@ val cal:String 
-@ val carbs: String 
-@ val sugar: String
-@ val fat: String
-@ val protein: String
-@ val calc: String
-@ val menu: Array[(String, String, String, String, String, String, String)]

h1 Your Nutrition Requirements

br

table.table
	tr
		td 
			b Calories
		td 
			b Carbohydrates (g)
		td 
			b Sugar (g)
		td 
			b Fat (g)
		td 
			b Protein (g)
		td 
			b Calcium (mg)
	tr
		td= cal
		td= carbs
		td= sugar
		td= fat
		td= protein
		td= calc

br

h1 Breakfast
table.table
	tr
		td 
			b Food Item
		td 
			b Calories
		td 
			b Carbohydrates
		td 
			b Sugar
		td 
			b Fat
		td 
			b Protien
		td 
			b Calcium
	- for(i <- 0 until (menu.size-7)
		tr
			td= menu(i)._1
			td= menu(i)._2
			td= menu(i)._3
			td= menu(i)._4
			td= menu(i)._5
			td= menu(i)._6
			td= menu(i)._7