- attributes("title") = "Your Plan"
- attributes("headline") = "Your Plan"
- attributes("page") = "plan"
-@ val cal:String 
-@ val carbs: String 
-@ val sugar: String
-@ val fat: String
-@ val protein: String
-@ val calc: String
-@ val menu: Array[(String, String, String, String, String, String, String)]

h1 Your Nutrition Requirements

br

table.table
	tr
		td Calories
		td Carbohydrates (g)
		td Sugar (g)
		td Fat (g)
		td Protein (g)
		td Calcium (mg)
	tr
		td= cal
		td= carbs
		td= sugar
		td= fat
		td= protein
		td= calc

br

table.table
	tr
		td Food Item
		td Calories
		td Carbohydrates
		td Sugar
		td Fat
		td Protien
		td Calcium
- for(i <- 0 to menu.size)
	tr
		td= menu(i)._1
		td= menu(i)._2
		td= menu(i)._3
		td= menu(i)._4
		td= menu(i)._5
		td= menu(i)._6
		td= menu(i)._7